@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-fundo-primario: #fffafa;
    --cor-fundo-secundario: #fff1f1;
    --cor-fundo-terciario: #FFCACD;
    
    --cor-texto: #474747;
    --cor-texto-claro: #6b6b6b;
    --cor-link: #964dd3;
    
    --cor-primaria: #e9a0a4;
    --cor-hover-primaria: #e48287;

    --fonte-principal: "Chakra Petch", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo-terciario);
    color: var(--cor-texto);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

main {
    background-color: var(--cor-fundo-primario);
    color: var(--cor-texto-claro);
    margin-left: 15%; /* deixa espaço para o menu lateral */
    padding-top: 5rem;
    overflow: auto; /* permite rolagem vertical */
    min-height: 100vh; /* garante que o main ocupe ao menos toda a altura da viewport */
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5rem; /* texto + imagem -- caixa de pergunta */
}

.container_conteudo {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; /* texto -- imagem */
    margin-top: 4%;
}

.container_conteudo_texto {
    max-width: 25rem;
    text-align: left;
}

.container h2 {
    color: var(--cor-texto);
    margin-bottom: 2rem;
}

.container img {
    width: 30rem;      
    height: auto;     
    border-radius: 1.7rem; 
    border: 4px solid var(--cor-fundo-terciario);
    padding: 0.6rem;
}

.sidebar {
    background-color: var(--cor-fundo-secundario);
    font-size: 1.4rem;
    padding: 18px;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--cor-fundo-terciario);
}

.logo {
    display: flex;
    justify-content: center;
    max-width: 70%;
    height: auto;
}

.sidebar ul li a:hover {
    border-radius: 0.5rem;
    background-color: var(--cor-fundo-terciario);

}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 30% 0%;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bold;
    padding: 5px 5px;
    cursor: pointer; /* muda o cursor para indicar que é clicável */
}

.sidebar ul li a img.icon{
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.rodape {
    background-color: var(--cor-fundo-terciario);
    color: var(--cor-texto-claro);
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.rodape_texto {
    color: black;
    margin-right: 3rem;
    font-weight: bold;
}

.rodape_ancoras img {
    width: 1.3rem;
    height: auto;
    margin-left: 1rem;
}

/* REFAZER */
@media (max-width: 1300px) { /* para dispositivos menores */
    .sidebar {
        display: none;
    }

    main {
        margin-left: 0;
    }
    
    .container {
        font-size: 1.1rem;
    }

    .container_conteudo {
        font-size: 1.1rem;
        gap: 1rem;
    }

    .container img {
        max-width: 17rem;
        height: auto;
    }

    .menu-button {
        display: block;
        background-color: var(--cor-primaria);
        color: var(--cor-texto);
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border: none;
        width: 100%;
    }
}